html[data-color-scheme='dark'] {
  filter: invert(1) hue-rotate(180deg);
}
html[data-color-scheme='dark'] img.cover {
  filter: invert(1) hue-rotate(180deg);
}
#color-scheme {
  float: right;
}
html[data-color-scheme='dark'] #color-scheme::before {
  content: "\01f319"
}
html:not([data-color-scheme='dark']) #color-scheme::before {
  content: "\01f31e"
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #f7f8f9;
  color: #191817;
  font-family: "Helvetica",Arial,sans-serif;
  font-size: 12pt;
  font-weight: normal;
  line-height: 1.5;
  word-wrap: break-word;
  max-width: 600pt;
  margin: auto;
  padding: 0 10pt;
}

body:before {
  content: "";
  display: table;
}

body:after {
  clear: both;
  content: "";
  display: table;
}

body>:first-child {
  margin-top: 0!important;
}

body>:last-child {
  margin-bottom: 0!important;
}

body details {
  display: block;
}

body summary {
  display: list-item;
}

body details summary {
  cursor: pointer;
}

body a {
  background-color: transparent;
  color: #0366d6;
  text-decoration: none;
  outline-width: 0;
}

body a:hover {
  text-decoration: underline;
}

body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

body strong {
  font-weight: bold;
}

body * {
  box-sizing: border-box;
}

body hr {
  background: transparent;
  background-color: #c1c2c3;
  overflow: hidden;
  border: 0;
  height: 2px;
  margin: 18pt 0;
  padding: 0;
}

body hr:before {
  content: "";
  display: table;
}

body hr:after {
  clear: both;
  content: "";
  display: table;
}

body table {
  border-collapse: collapse;
  border-spacing: 0;
}

body td,
body th {
  padding: 0;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 12pt;
  margin-top: 18pt;
}

body h1 {
  font-size: 2em;
  border-bottom: 2px solid #c1c2c3;
  padding-bottom: .3em;
}

body h2 {
  font-size: 1.5em;
  border-bottom: 2px solid #c1c2c3;
  padding-bottom: .3em;
}

body h3 {
  font-size: 1.25em;
}

body h4 {
  font-size: 1em;
}

body h5 {
  font-size: .875em;
}

body h6 {
  font-size: .85em;
  color: #6a737d;
}

body p {
  margin-bottom: 7.5pt;
  margin-top: 0;
}

body dd {
  margin-left: 0;
}

body blockquote {
  margin: 0 0 12pt 0;
  border-left: .25em solid #c1c2c3;
  color: #3a3b3c;
  padding: 0 1em;
}

body blockquote>:first-child {
  margin-top: 0;
}

body blockquote>:last-child {
  margin-bottom: 0;
}

body code,
body pre {
  font-family: "Courier New",monospace;
  font-size: 1em;
}

body pre {
  word-wrap: normal;
  background-color: #e7e8e9;
  border-radius: 2.25pt;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 12pt;
}

body dl,
body ol,
body p,
body pre,
body table,
body ul {
  margin-bottom: 12pt;
  margin-top: 0;
}

body pre>code {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
}

body pre code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}

body code {
  background-color: rgba(27,31,35,.05);
  border-radius: 2.25pt;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
}

body ol ol,
body ul ol {
  list-style-type: lower-roman;
}

body ol ol ol,
body ol ul ol,
body ul ol ol,
body ul ul ol {
  list-style-type: lower-alpha;
}

body ol,
body ul {
  padding-left: 2em;
}

body ol ol,
body ol ul,
body ul ol,
body ul ul {
  margin-bottom: 0;
  margin-top: 0;
}

body li {
  word-wrap: break-all;
}

body li>p {
  margin-top: 12pt;
}

body li+li {
  margin-top: 0.25em;
}

body dl {
  padding: 0;
}

body dl dt {
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  margin-top: 12pt;
  padding: 0;
}

body dl dd {
  margin-bottom: 12pt;
  padding: 0 12pt;
}

body table {
  display: block;
  overflow: auto;
  width: 100%;
}

body table th {
  font-weight: bold;
  background-color: #d8d9da;
}

body table td,
body table th {
  border: 1px solid #c6cbd1;
  padding: 4.5pt 9.8pt;
}

body table tr {
  background-color: #ffffff;
}

body table tr:nth-child(2n) {
  background-color: #f1f2f3;
}

body img {
  border-style: none;
  max-width: 100%;
}

body img[align=right] {
  padding-left: 15pt;
}

body img[align=left] {
  padding-right: 15pt;
}

article {
  display: block;
  width: 100%;
}

header {
  margin-bottom: 12pt;
}

footer {
  border-top: 2px solid #c1c2c3;
  margin-top: 12pt;
}

td.right, th.right { text-align: right; }
td.left, th.left { text-align: left; }
img.half { width: 50%; }
div.author {
  color: #6a737d;
  margin: 1em 0;
  font-family: sans-serif;
}
span.author_title {
  font-size: 80%;
}
div.author_address {
  font-family: sans-serif;
  font-size: 80%;
}
div.cite_author {
  text-align: right;
  font-family: serif;
}
figure { width: 90% }
img { width: 100% }
ul.label_9_7 {
  list-style-type: none;
  padding-left: 0;
}
ul.label_9_7 li {
  text-indent: -2em;
  padding-left: 2em;
}
ul.label_9_7 li:before {
  content: "9.7";
}
.with_round_brackets ol {
  margin-left: 2em;
  counter-reset: cnt_round;
}
.with_round_brackets ol li {
  list-style-type: none;
  counter-increment: cnt_round;
  position: relative;
}
.with_round_brackets ol li:before {
  content: "(" counter(cnt_round) ")";
  display: inline-block;
  margin-left: -2em;
  width: 1.5em;
  text-align: right;
  position: absolute;
  top: 0;
  left: 0;
}
.with_square_brackets ol {
  margin-left: 2em;
  counter-reset: cnt_square;
}
.with_square_brackets ol li {
  list-style-type: none;
  counter-increment: cnt_square;
  position: relative;
}
.with_square_brackets ol li:before {
  content: "[" counter(cnt_square) "]";
  display: inline-block;
  margin-left: -2em;
  width: 1.5em;
  text-align: right;
  position: absolute;
  top: 0;
  left: 0;
}
.essays {
  list-style: none;
  padding-left: 0;
}
nav {
  width: 100%;
}
.nav-links {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
.nav-links li {
  margin: 0.5em;
  display: inline-block;
}
.nav-links li a {
  text-decoration: none;
}
.nav-links li .disable {
  color: #a9a9a9;
}
